# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
photos/
chapters.txt
media/
church-375900-fbd978c352ca.json
new.json
old.json
.env.prod