django>=4.0.0,<4.1.0
djangorestframework>=3.13.1,!=3.14.0
pyyaml
django-cors-headers==3.5.0
djangorestframework-simplejwt
django-cors-headers
dj-database-url==0.5.0
python-decouple==3.6
psycopg2-binary==2.9.3
django-import-export==2.8.0
drf-spectacular==0.22.1
django-taggit==3.0.0
django-filter==22.1
pillow==9.4.0
cloudinary==1.31.0
django-podcasting==1.3.2
python-dotenv==0.21.1
google-api-python-client
psycopg2==2.9.3
uwsgi==2.0.20
daphne==3.0.2
